/* Estilos Generales */
.contenedor {
    padding: 0 128px;
    width: 100%;
}
.caja-padre .caja-hijo-2 {
    display: flex;
}
.caja-hijo h1 {
    text-align: center;
}

/* Sección Como - Funciona */
.como-funciona {
    width: 100%;
    margin-top: 336px;
}
.como-funciona .caja-padre {
    flex-direction: column;
}
.como-funciona .caja-padre .caja-hijo {
    margin-bottom: 200px;
}
.como-funciona .caja-padre .caja-hijo p {
     max-width: 730px;
     margin: 0 auto;
     margin-top: 49px;
     text-align: center;
}
.como-funciona .caja-padre .caja-hijo-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.como-funciona .caja-padre .caja-hijo-2 .caja-hijo-3 h2 {
    margin-bottom: 8px;
}
.como-funciona .caja-padre .caja-hijo-2 .caja-hijo-3 p {
     max-width: 477px;
}
.como-funciona .caja-padre .caja-hijo-2 .caja-hijo-3 img {
     width: 100%;
}

/* Sección Como - Usar */
.como-usar{
    margin-top: 200px;
}
.como-usar .caja-padre {
    flex-direction: column;
    padding: 0px 170px;
}
.como-usar .caja-hijo {
    margin-bottom: 115px;
}
.como-usar .caja-hijo-2 {
    justify-content: space-between;
    align-items: center;
}
.como-usar .caja-hijo-3 {
    max-width: 312px;
}
.como-usar .caja-hijo-3 img {
    width: 100%;
    margin-bottom: 24px;
}
.como-usar .caja-hijo-3 p {
    text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1700px) {
    /* Sección Como - Funciona */
    .caja-padre .caja-hijo-2 {
        flex-direction: column;
        text-align: center;
    }
    .como-funciona .caja-hijo-3 img {
        margin: 40px 0px;
   }

   /* Sección Como - Usar */
   .como-usar .caja-padre {
       padding: 0;
   }
   .como-usar .caja-hijo-3 {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 600px) {
    .contenedor {
        padding: 0px 64px;
    }
}