/**/
/* ajustes bootstrap */
body {
    overflow-x: hidden;
}
.container-fluid {
    margin: 0px;
    padding: 0px;
}

/**/
/* textos */
.display-1 {
    text-decoration: none;
    color: #FAFAFA;
    font: normal 600 64px "Sarabun", sans-serif;
}
.display-2 {
    text-decoration: none;
    color: #FAFAFA;
    font: normal 600 40px "Sarabun", sans-serif;
}

main section {
    min-height: calc(100vh - 10vh);
}
main section > div {
    margin-top: auto;
}
section .btn-primary {

}

/**/
/* banner principal */
#banner-principal {
    background-image: url(../assets/images/bg_02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
#banner-principal p {
    display: inline-block;
    margin: 0px auto;
    padding: 1em 0px;
    text-align: center;
}
#banner-principal .row-fluid {
    width: calc(100vw - 40vh);
    margin: 0px auto;
    padding: calc(100vh - 65vh) 0px;
}

/**/
#como-funciona {
    background-color: #477448;
}

/**/
/* imagenes de secciones */
.section-img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#que-es .section-img {
    background-image: url(../assets/images/bg_02.jpg);
}
#como-funciona .section-img {
    background-image: url(../assets/images/bg_01.jpg);
}