//Color Styles

$colorCannamed: #477448;
$colorFondo2: #F5F5F5;
$colorTextos: #666666;
$colorBlanco: #FFFFFF;

//Text Styles

$textInputs: normal 18px 'Sarabun', sans-serif;
$textParrafos: normal 24px/130% 'Sarabun', sans-serif;
$textSubtitulos: normal 600 32px/100% 'Sarabun', sans-serif;
$textEncabezados: normal 600 56px/100% 'Sarabun', sans-serif;
$textEnlaceActivo: normal 600 18px/100% 'Sarabun', sans-serif;
$textEnlace: normal 16px/100% 'Sarabun', sans-serif;